.header {
    display: flex;
    justify-content: center;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.turn-display {
    display: flex;
    justify-content: center;
}

.player-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
}

.cell {
    font-size: 32px;
    filter: brightness(1);
    background-color: white;
    border: 0.5px solid black;
}

.cell.ship {
    background-color: lightblue;
}

.cell:hover {
    filter: brightness(0.8);
}

.cell.hit {
    background-color: red;
}

.cell.miss {
    background-color: grey;
}

.user-btns-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.placeholder-btn-space {
    /* Set a height approximately equal to the button's rendered height. */
    /* This ensures vertical alignment of the boards above it. */
    height: 50px; /* A common button height, adjust as needed */
    width: 100%; /* Take up space to maintain center alignment */
}